* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Serif TC";
}

body,
html {
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}